@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
.urbanist {
  font-family: "Urbanist", sans-serif;
}
.inter {
  font-family: "Inter", sans-serif;
}

.ten:before {
  content: "";
  position: absolute;
  border: 10px dashed #30237b;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  border-radius: 13px;
}
