@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');

.urban{
    font-family: 'Urbanist', sans-serif;
}
/* ! footer section */
.footer-social-card {
  display: flex;
  width: 127.543px;
  height: 50.036px;
  padding: 13.735px 0px 12.754px 0px;
  justify-content: center;
  align-items: center;
  border-radius: 15.698px;
  background: #fafafa;

  @media (max-width: 565px) {
    width: 101.975px;
    height: 40.006px;
    padding: 10.982px 0px 10.198px 0px;
    border-radius: 12.551px;
  }
  @media (max-width: 425px) {
    width: 65px;
    height: 30px;
    border-radius: 9px;
  }
}
.footer-social-card:hover {
  transition: all 150ms ease-in-out;
  border: 1px solid darkgray;
  transform: scale(1.1);
}
.footer-text-area span {
  color: #666476;
  text-align: center;
  font-family: Urbanist;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: -0.26px;

  @media (max-width: 565px) {
    font-size: 12px;
    letter-spacing: -0.24px;
  }
  @media (max-width: 425px) {
    font-size: 8px;
    letter-spacing: -0.22px;
  }
}
.footer-text-area a {
  color: #30237b;
  text-decoration: underline;
}